/* Add a black background color to the top navigation */
.topnav {
    background-color: #ddd;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #0465aa;
    color: white;
}

.home_page_header {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/vacation_home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-box p {
    font-size: 2em;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

.text-box {
    background: rgba(0, 0, 0, 0.5); /* Dark background */
    padding: 15px 30px;
    border-radius: 10px;
}

.home_page_header form {
    width: 75%; /* Adjust form width */
    text-align: center;
    margin-top: 10px;
}

/*.card {*/
/*    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
/*    transition: 0.3s;*/
/*    border-radius: 5px; !* 5px rounded corners *!*/
/*}*/

/*!* Add rounded corners to the top left and the top right corner of the image *!*/
/*img {*/
/*    border-radius: 5px 5px 0 0;*/
/*}*/

/*!* On mouse-over, add a deeper shadow *!*/
/*.card:hover {*/
/*    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
/*}*/

/*!* Add some padding inside the card container *!*/
/*.container {*/
/*    padding: 2px 16px;*/
/*}*/